module.exports = {
    userAuth: {
        consumer_key: '**********',
        consumer_secret: '**********',
        access_token_key: '**********',
        access_token_secret: '**********',
    },
    appAuth: {
        consumer_key: '**********',
        consumer_secret: '**********',
        bearer_token: '**********'
    }
}
